body {
  margin: 0;
  padding: 20px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  display: grid;
  gap: 20px; 
  grid-template-columns: repeat(auto-fill, minmax(500px, 2fr));
  
}
.card {
 display: flex;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 5px 20px;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

img {
  /* width: 50%; */
  height: 300px;
  width:300px;
  overflow: hidden;
  object-fit: cover;
  border-radius: 5px;
}
.card-info {
  display: flex;
  gap: 10px;
  align-items: center;
  /* justify-content: space-between; */
}

.votes-sort{
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

button {
  
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  background-color: #11a1ee;
}
.bg-diabled{
  background-color: #ccc;
  cursor: not-allowed;
}
.bg-active{
  background-color: #11a1ee;
}

#contact-info{
  display: absolute;
  position: fixed;
  background: white;
  
}

